@font-face {
    font-family: 'GidoleFont';
    src: url(/src/GidoleFont/Gidole-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

a {
    text-decoration: none;
}

.menuBar {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2c2b;
    color: white;
    padding: 10px 20px;
    font-family: GidoleFont, sans-serif;
}

.menuBarLogo {
    height: 100%;
    margin-right: 20px;
}

.sideNavMenuIcon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 15px;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(4, 191, 191, 0.35);
    backdrop-filter: blur(40px);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: center;
}

nav a {
    padding: 10px 15px 10px 30px;
    text-decoration: none;
    font-size: 5vh;
    font-family: GidoleFont, sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
}

nav a:hover {
    color: #2a2c2b;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.3s;
}

nav .sideNavCloseBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
}